@font-face {
  font-family: 'Gotham Rounded';
  src:  url('fonts/GothamRoundedBook_21018.ttf');
  src:  url('fonts/GothamRoundedBook_21018.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Gotham Rounded' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Qt:before {
  content: "\e900";
}
