.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(../../bootstrap/fonts/GothamRoundedBook_21018.ttf)format("ttf");}.ff1{font-family:ff1;line-height:0.873535;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(../../bootstrap/fonts/GothamRoundedBook_21018.ttf)format("ttf");}.ff2{font-family:ff2;line-height:0.857910;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(../../bootstrap/fonts/GothamRoundedBook_21018.ttf)format("ttf");}.ff3{font-family:ff3;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(../../bootstrap/fonts/GothamRoundedBook_21018.ttf)format("ttf");}.ff4{font-family:ff4;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._d{margin-left:-2.288000px;}
._3{margin-left:-1.012000px;}
._1{width:1.540000px;}
._b{width:3.212000px;}
._10{width:4.356000px;}
._6{width:5.500000px;}
._0{width:6.512000px;}
._5{width:8.404000px;}
._4{width:11.440000px;}
._2{width:12.584000px;}
._a{width:13.728000px;}
._17{width:14.784000px;}
._9{width:18.832000px;}
._11{width:20.416000px;}
._19{width:29.480000px;}
._12{width:52.316000px;}
._15{width:55.792000px;}
._14{width:57.816000px;}
._16{width:60.280000px;}
._f{width:68.552000px;}
._7{width:69.608000px;}
._c{width:71.588000px;}
._e{width:72.996000px;}
._8{width:74.624000px;}
._13{width:76.076000px;}
._1b{width:77.660000px;}
._1a{width:81.708000px;}
._18{width:84.524000px;}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:44.000000px;}
.fs0{font-size:56.000000px;}
.y61{bottom:88.859984px;}
.y9a{bottom:89.382018px;}
.y1f{bottom:92.076004px;}
.y83{bottom:97.614013px;}
.y40{bottom:100.957973px;}
.y1e{bottom:107.518004px;}
.y3f{bottom:115.448974px;}
.y99{bottom:118.823974px;}
.y1d{bottom:122.959976px;}
.y3e{bottom:130.890990px;}
.y1c{bottom:138.401977px;}
.y60{bottom:147.744007px;}
.y1b{bottom:153.844009px;}
.y82{bottom:156.498016px;}
.y5f{bottom:163.186005px;}
.y1a{bottom:169.286010px;}
.y81{bottom:171.940002px;}
.y98{bottom:177.708007px;}
.y5e{bottom:178.628006px;}
.y19{bottom:184.728012px;}
.y80{bottom:187.382011px;}
.y3d{bottom:189.774994px;}
.y5d{bottom:194.070006px;}
.y18{bottom:200.170012px;}
.y7f{bottom:202.824013px;}
.y3c{bottom:205.216995px;}
.y5c{bottom:209.511993px;}
.y17{bottom:215.611999px;}
.y7e{bottom:218.266014px;}
.y3b{bottom:220.658996px;}
.y5b{bottom:224.953995px;}
.y16{bottom:231.054001px;}
.y7d{bottom:233.708008px;}
.y3a{bottom:236.100998px;}
.y97{bottom:236.591995px;}
.y5a{bottom:240.395995px;}
.y15{bottom:246.496001px;}
.y7c{bottom:249.150013px;}
.y39{bottom:251.542998px;}
.y96{bottom:252.033996px;}
.y59{bottom:255.838001px;}
.y14{bottom:261.937987px;}
.y7b{bottom:264.592010px;}
.y38{bottom:266.985001px;}
.y95{bottom:267.475998px;}
.y58{bottom:271.279999px;}
.y7a{bottom:280.034012px;}
.y37{bottom:282.427001px;}
.y94{bottom:282.917998px;}
.y57{bottom:286.722000px;}
.y79{bottom:295.476012px;}
.y36{bottom:297.869003px;}
.y93{bottom:298.360001px;}
.y56{bottom:302.164001px;}
.y78{bottom:310.918015px;}
.y35{bottom:313.311004px;}
.y92{bottom:313.802001px;}
.y55{bottom:317.606003px;}
.y13{bottom:320.821990px;}
.y77{bottom:326.360015px;}
.y34{bottom:328.752990px;}
.y91{bottom:329.243987px;}
.y54{bottom:333.048003px;}
.y12{bottom:336.263992px;}
.y76{bottom:341.801987px;}
.y33{bottom:344.195006px;}
.y53{bottom:348.489990px;}
.y11{bottom:351.705993px;}
.y75{bottom:357.243987px;}
.y32{bottom:359.637009px;}
.y52{bottom:363.931992px;}
.y10{bottom:367.148010px;}
.y74{bottom:372.686004px;}
.y31{bottom:375.079009px;}
.y51{bottom:379.373992px;}
.yf{bottom:382.590012px;}
.y90{bottom:388.127991px;}
.y30{bottom:390.520996px;}
.y50{bottom:394.815994px;}
.ye{bottom:398.032012px;}
.y8f{bottom:403.569992px;}
.y2f{bottom:405.962997px;}
.y4f{bottom:410.257995px;}
.yd{bottom:413.473998px;}
.y8e{bottom:419.011992px;}
.y2e{bottom:421.404998px;}
.y4e{bottom:425.699997px;}
.yc{bottom:428.916000px;}
.y73{bottom:431.569992px;}
.y8d{bottom:434.453995px;}
.y2d{bottom:436.847000px;}
.y4d{bottom:441.141997px;}
.yb{bottom:444.358001px;}
.y72{bottom:447.011992px;}
.y8c{bottom:449.895995px;}
.y2c{bottom:452.289001px;}
.y4c{bottom:456.583999px;}
.ya{bottom:459.800002px;}
.y71{bottom:462.453995px;}
.y8b{bottom:465.337996px;}
.y2b{bottom:467.731003px;}
.y4b{bottom:472.026000px;}
.y70{bottom:477.895995px;}
.y8a{bottom:480.779998px;}
.y2a{bottom:483.173004px;}
.y4a{bottom:487.468001px;}
.y6f{bottom:493.337997px;}
.y29{bottom:498.615005px;}
.y6e{bottom:508.779998px;}
.y28{bottom:514.057005px;}
.y9{bottom:518.683998px;}
.y6d{bottom:524.222000px;}
.y8{bottom:534.125999px;}
.y89{bottom:539.663998px;}
.y6c{bottom:539.664001px;}
.y49{bottom:546.352005px;}
.y7{bottom:549.568001px;}
.y88{bottom:555.105995px;}
.y6b{bottom:555.106003px;}
.y48{bottom:561.794005px;}
.y6{bottom:565.009995px;}
.y87{bottom:570.547997px;}
.y6a{bottom:570.548003px;}
.y27{bottom:571.990005px;}
.y47{bottom:577.236000px;}
.y5{bottom:580.452000px;}
.y69{bottom:585.989998px;}
.y26{bottom:587.432003px;}
.y46{bottom:592.678000px;}
.y4{bottom:595.893997px;}
.y68{bottom:601.431999px;}
.y86{bottom:601.432001px;}
.y25{bottom:602.874001px;}
.y45{bottom:608.120002px;}
.y3{bottom:611.335999px;}
.y85{bottom:616.873995px;}
.y67{bottom:616.874000px;}
.y24{bottom:618.316002px;}
.y2{bottom:626.777999px;}
.y66{bottom:632.315998px;}
.y84{bottom:632.316000px;}
.y23{bottom:633.758002px;}
.y65{bottom:647.757998px;}
.y22{bottom:649.200001px;}
.y64{bottom:663.200000px;}
.y21{bottom:664.642001px;}
.y44{bottom:666.052999px;}
.y63{bottom:678.641999px;}
.y20{bottom:680.084000px;}
.y43{bottom:680.544000px;}
.y1{bottom:687.017000px;}
.y62{bottom:694.084000px;}
.y42{bottom:695.035000px;}
.y0{bottom:706.670000px;}
.y41{bottom:709.526000px;}
.h3{height:30.593750px;}
.h2{height:31.582031px;}
.h1{height:38.937500px;}
.h0{height:792.000000px;}
.w0{width:612.000000px;}
.x2{left:72.000000px;}
.x3{left:99.000000px;}
.x4{left:126.000000px;}
.x5{left:148.500000px;}
.x0{left:209.582001px;}
.x1{left:219.063995px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._d{margin-left:-3.050667pt;}
._3{margin-left:-1.349333pt;}
._1{width:2.053333pt;}
._b{width:4.282667pt;}
._10{width:5.808000pt;}
._6{width:7.333333pt;}
._0{width:8.682667pt;}
._5{width:11.205333pt;}
._4{width:15.253333pt;}
._2{width:16.778667pt;}
._a{width:18.304000pt;}
._17{width:19.712000pt;}
._9{width:25.109333pt;}
._11{width:27.221333pt;}
._19{width:39.306667pt;}
._12{width:69.754667pt;}
._15{width:74.389333pt;}
._14{width:77.088000pt;}
._16{width:80.373333pt;}
._f{width:91.402667pt;}
._7{width:92.810667pt;}
._c{width:95.450667pt;}
._e{width:97.328000pt;}
._8{width:99.498667pt;}
._13{width:101.434667pt;}
._1b{width:103.546667pt;}
._1a{width:108.944000pt;}
._18{width:112.698667pt;}
.fs1{font-size:58.666667pt;}
.fs0{font-size:74.666667pt;}
.y61{bottom:118.479979pt;}
.y9a{bottom:119.176024pt;}
.y1f{bottom:122.768005pt;}
.y83{bottom:130.152017pt;}
.y40{bottom:134.610631pt;}
.y1e{bottom:143.357339pt;}
.y3f{bottom:153.931965pt;}
.y99{bottom:158.431965pt;}
.y1d{bottom:163.946635pt;}
.y3e{bottom:174.521320pt;}
.y1c{bottom:184.535969pt;}
.y60{bottom:196.992009pt;}
.y1b{bottom:205.125346pt;}
.y82{bottom:208.664022pt;}
.y5f{bottom:217.581340pt;}
.y1a{bottom:225.714680pt;}
.y81{bottom:229.253337pt;}
.y98{bottom:236.944009pt;}
.y5e{bottom:238.170675pt;}
.y19{bottom:246.304016pt;}
.y80{bottom:249.842682pt;}
.y3d{bottom:253.033325pt;}
.y5d{bottom:258.760008pt;}
.y18{bottom:266.893350pt;}
.y7f{bottom:270.432017pt;}
.y3c{bottom:273.622660pt;}
.y5c{bottom:279.349325pt;}
.y17{bottom:287.482665pt;}
.y7e{bottom:291.021352pt;}
.y3b{bottom:294.211994pt;}
.y5b{bottom:299.938660pt;}
.y16{bottom:308.072001pt;}
.y7d{bottom:311.610677pt;}
.y3a{bottom:314.801331pt;}
.y97{bottom:315.455994pt;}
.y5a{bottom:320.527994pt;}
.y15{bottom:328.661335pt;}
.y7c{bottom:332.200017pt;}
.y39{bottom:335.390664pt;}
.y96{bottom:336.045328pt;}
.y59{bottom:341.117335pt;}
.y14{bottom:349.250650pt;}
.y7b{bottom:352.789347pt;}
.y38{bottom:355.980001pt;}
.y95{bottom:356.634664pt;}
.y58{bottom:361.706665pt;}
.y7a{bottom:373.378682pt;}
.y37{bottom:376.569335pt;}
.y94{bottom:377.223998pt;}
.y57{bottom:382.296000pt;}
.y79{bottom:393.968016pt;}
.y36{bottom:397.158671pt;}
.y93{bottom:397.813334pt;}
.y56{bottom:402.885334pt;}
.y78{bottom:414.557353pt;}
.y35{bottom:417.748005pt;}
.y92{bottom:418.402668pt;}
.y55{bottom:423.474670pt;}
.y13{bottom:427.762653pt;}
.y77{bottom:435.146687pt;}
.y34{bottom:438.337320pt;}
.y91{bottom:438.991983pt;}
.y54{bottom:444.064004pt;}
.y12{bottom:448.351990pt;}
.y76{bottom:455.735982pt;}
.y33{bottom:458.926675pt;}
.y53{bottom:464.653320pt;}
.y11{bottom:468.941324pt;}
.y75{bottom:476.325316pt;}
.y32{bottom:479.516012pt;}
.y52{bottom:485.242655pt;}
.y10{bottom:489.530680pt;}
.y74{bottom:496.914672pt;}
.y31{bottom:500.105345pt;}
.y51{bottom:505.831989pt;}
.yf{bottom:510.120015pt;}
.y90{bottom:517.503988pt;}
.y30{bottom:520.694661pt;}
.y50{bottom:526.421326pt;}
.ye{bottom:530.709349pt;}
.y8f{bottom:538.093323pt;}
.y2f{bottom:541.283997pt;}
.y4f{bottom:547.010660pt;}
.yd{bottom:551.298664pt;}
.y8e{bottom:558.682657pt;}
.y2e{bottom:561.873330pt;}
.y4e{bottom:567.599996pt;}
.yc{bottom:571.888000pt;}
.y73{bottom:575.426656pt;}
.y8d{bottom:579.271993pt;}
.y2d{bottom:582.462667pt;}
.y4d{bottom:588.189330pt;}
.yb{bottom:592.477334pt;}
.y72{bottom:596.015990pt;}
.y8c{bottom:599.861327pt;}
.y2c{bottom:603.052001pt;}
.y4c{bottom:608.778665pt;}
.ya{bottom:613.066669pt;}
.y71{bottom:616.605326pt;}
.y8b{bottom:620.450662pt;}
.y2b{bottom:623.641337pt;}
.y4b{bottom:629.368000pt;}
.y70{bottom:637.194660pt;}
.y8a{bottom:641.039997pt;}
.y2a{bottom:644.230672pt;}
.y4a{bottom:649.957335pt;}
.y6f{bottom:657.783997pt;}
.y29{bottom:664.820006pt;}
.y6e{bottom:678.373330pt;}
.y28{bottom:685.409340pt;}
.y9{bottom:691.578664pt;}
.y6d{bottom:698.962667pt;}
.y8{bottom:712.167999pt;}
.y89{bottom:719.551997pt;}
.y6c{bottom:719.552001pt;}
.y49{bottom:728.469340pt;}
.y7{bottom:732.757334pt;}
.y88{bottom:740.141327pt;}
.y6b{bottom:740.141337pt;}
.y48{bottom:749.058674pt;}
.y6{bottom:753.346659pt;}
.y87{bottom:760.730662pt;}
.y6a{bottom:760.730671pt;}
.y27{bottom:762.653339pt;}
.y47{bottom:769.648000pt;}
.y5{bottom:773.936000pt;}
.y69{bottom:781.319997pt;}
.y26{bottom:783.242671pt;}
.y46{bottom:790.237334pt;}
.y4{bottom:794.525330pt;}
.y68{bottom:801.909332pt;}
.y86{bottom:801.909335pt;}
.y25{bottom:803.832001pt;}
.y45{bottom:810.826669pt;}
.y3{bottom:815.114665pt;}
.y85{bottom:822.498660pt;}
.y67{bottom:822.498666pt;}
.y24{bottom:824.421336pt;}
.y2{bottom:835.703999pt;}
.y66{bottom:843.087997pt;}
.y84{bottom:843.088000pt;}
.y23{bottom:845.010670pt;}
.y65{bottom:863.677331pt;}
.y22{bottom:865.600001pt;}
.y64{bottom:884.266666pt;}
.y21{bottom:886.189335pt;}
.y44{bottom:888.070666pt;}
.y63{bottom:904.855999pt;}
.y20{bottom:906.778666pt;}
.y43{bottom:907.392000pt;}
.y1{bottom:916.022667pt;}
.y62{bottom:925.445333pt;}
.y42{bottom:926.713333pt;}
.y0{bottom:942.226667pt;}
.y41{bottom:946.034667pt;}
.h3{height:40.791667pt;}
.h2{height:42.109375pt;}
.h1{height:51.916667pt;}
.h0{height:1056.000000pt;}
.w0{width:816.000000pt;}
.x2{left:96.000000pt;}
.x3{left:132.000000pt;}
.x4{left:168.000000pt;}
.x5{left:198.000000pt;}
.x0{left:279.442668pt;}
.x1{left:292.085327pt;}
}
